<div>
    {{#if error }}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
     </div>
    {{/if}}
   {{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
   {{/each}}

<div class="task-manager">
  <div class="left-bar">
    <div class="left-content">
      <ul class="action-list">
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-inbox"
            viewBox="0 0 24 24">
            <path d="M22 12h-6l-2 3h-4l-2-3H2" />
            <path
              d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
          </svg>
          <a href="/notes"  class="a">Todo</a>
        </li>
        <li class="item" style="margin-bottom: 26px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-star">
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
            </svg>
          <a href="/notes/hoy"  class="a hoy">Hoy</a>
        </li>
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-calendar"
            viewBox="0 0 24 24" style="width: 34.3px;">
            <rect width="18" height="18" x="3" y="4" rx="2" ry="2" />
            <path d="M16 2v4M8 2v4m-5 4h18" />
          </svg>
          <a href="/notes/cualquier" class="a cualquier">Cualquier Momento</a>
        </li>
        <li class="item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-hash" >
            <line x1="4" y1="9" x2="20" y2="9" />
            <line x1="4" y1="15" x2="20" y2="15" />
            <line x1="10" y1="3" x2="8" y2="21" />
            <line x1="16" y1="3" x2="14" y2="21" /></svg>
          <a href="/reides"  class="a">Modo Reides</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <div class="header">Todo</div>
    <div class="tasks-wrapper">
      <div class="task">
        {{#each notes}}
        <li class="li">
          <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input name="task" type="checkbox" id="item-3" onchange="this.form.submit()"/>
            </form> 
              <div class="margen">
                <span class="label-text">{{title}}</span>
                       <span class="mensaje">{{diadesemana}} {{mensaje}}</span>
                       </div>
        </li>
    </ul>
    {{else}}
    <div>
        <p>No hay Tareas</p>
    </div>
    {{/each}}
  </div>
  </div>
  </div>
  <div class="right-bar">
    <div class="right-content">
    <h3>Añadir Tarea</h3>
    <form action="/notes/new-note" method="POST" id="nueva">
    <input type="text" id="input" name="title" required="true" placeholder="Escribe Aquí tu Tarea" />
    <input type="date" name="dia"><label for="">Duración (en minutos):</label>
    <input type="number" min="05" max="600" name="duracion" value="30"/>
    <p>Tiene Horario Fijo?</p>
        <input type="radio" id="Si" name="fijo" value="Si">
        <label for="Si">Si</label><br>
        <input type="radio" id="No" name="fijo" value="No" checked="checked">
        <label for="No">No</label> <br>
    <h4>Caracter:</h2>
   <select id="cars" name="caracter">
    <option value="Estudio">Estudio/Trabajo</option>
    <option value="Ejercicio">Ejercicio</option>
    <option value="Alimentacion">Alimentacion</option>
    <option value="Ocio">Ocio</option>
    </select>
    <label for="">Horario:</label>
    <input type="time" name="horario"/>
 

    <button type="submit" id="submit">Agregar Tarea</button>
    
    </form>
</div>
  </div>
</div>
</div>